<h1>Log In to CRUD Practice!</h1>

<form action="/login" method="post">
  <p>
    <label name="name">Name</label>
    <input name="name" type="text"/>
  </p>

  <p>
    <label name="password">Password</label>
    <input name="password" type="password"/>
  </p>

  <p>
    <input type="submit"/>
  </p>
</form>