<h1>Sign Up for CRUD Practice!</h1>

<form action="/users" method="post">
  <p>
    <label name="name">Name</label>
    <input name="name" type="text"/>
  </p>

  <p>
    <input type="submit"/>
  </p>
</form>